Flask==2.2.3
flask-htmx==0.2.0
flask-mongoengine @ git+https://github.com/MongoEngine/flask-mongoengine.git@d4526139cb1e2e94111ab7de96bb629d574c1690
Flask-WTF==1.1.1
mongoengine==0.26.0
pymongo==4.3.3
python-dotenv==0.21.1
waitress==2.1.2
whitenoise==6.3.0
WTForms==3.0.1