aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
black==23.1.0
blinker==1.5
charset-normalizer==3.0.1
click==8.1.3
dnspython==2.3.0
email-validator==1.3.1
Flask==2.2.3
Flask-DebugToolbar==0.13.1
flask-htmx==0.2.0
flask-mongoengine @ git+https://github.com/MongoEngine/flask-mongoengine.git@d4526139cb1e2e94111ab7de96bb629d574c1690
Flask-WTF==1.1.1
frozenlist==1.3.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
mongoengine==0.26.0
multidict==6.0.4
mypy-extensions==1.0.0
packaging==23.0
pathspec==0.11.0
platformdirs==3.0.0
pymongo==4.3.3
python-dotenv==0.21.1
tomli==2.0.1
waitress==2.1.2
Werkzeug==2.2.3
whitenoise==6.3.0
WTForms==3.0.1
yarl==1.8.2
