{% extends "_base.html" %}
{% block title %}home{% endblock %}
{% block head %}
    <style>
        .hyphens {
            hyphens: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="w-full lg:w-3/4 container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-2 lg:py-6">
        <div class="md:w-1/2 xl:w-1/3 text-center mx-auto px-3 lg:px-0 mb-12 lg:opacity-50 hover:opacity-100 transition transition-opacity ease-in-out duration-1000">
            <h1 class="my-4 text-4xl md:text-5xl lg:text-6xl font-black leading-tight">
                Well hello there, stranger...
            </h1>
            <p class="leading-normal text-xl lg:text-2xl mb-8 font-mono">
                There is not much to do at the moment, but while you're here check out the <a
                    href="{{ url_for('home.page_about') }}"
                    class="text-primary font-bold">about</a>
                page or take a look at the <a href="{{ url_for('redoc_ui') }}" class="text-secondary font-bold">API
                docs</a>.
            </p>
        </div>
        {% for post in posts %}
            <div class="items-center w-full mx-auto content-end rounded-lg mb-6">
                <div class="card lg:card-side flex flex-1 border border-base-content bg-base-content bg-opacity-10 lg:bg-opacity-0 hover:bg-opacity-10 lg:grayscale hover:grayscale-0 opacity-100 lg:opacity-50 hover:opacity-100 transition transition-all ease-in-out duration-1000">
                    <figure class="overflow-hidden w-full lg:w-1/4"><img
                            src="{{ url_for('static',filename='img/Toucan.jpg') }}"
                            class="object-cover min-h-full rounded-xl"
                            alt="Album"/>
                    </figure>
                    <div class="card-body w-full lg:w-3/4">
                        <h2 class="card-title text-3xl md:text-4xl font-black leading-tight">{{ post['title'] }}</h2>
                        <hr>
                        <p class="font-mono font-bold flex text-base-content hover:text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round"
                                 class="w-5 h-5 mr-1 object-contain">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                <path d="M16 3l0 4"></path>
                                <path d="M8 3l0 4"></path>
                                <path d="M4 11l16 0"></path>
                                <path d="M11 15l1 0"></path>
                                <path d="M12 15l0 3"></path>
                            </svg>
                            {{ post['created_at'].strftime('%Y-%m-%d') }}
                            {% if post['updated_at'] %}
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round" class="w-5 h-5 mr-1 object-contain">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                                    <path d="M16 3l0 4"></path>
                                    <path d="M8 3l0 4"></path>
                                    <path d="M4 11l16 0"></path>
                                    <path d="M10 16l4 0"></path>
                                    <path d="M12 14l0 4"></path>
                                </svg>
                                [Update: {{ post['updated_at'].strftime('%Y-%m-%d') }}]
                            {% endif %}</p>
                        <p class="overflow-auto font-mono text-justify hyphens">{{ post['content']['introduction'] }}</p>
                        <div class="card-actions mt-4 justify-between">
                            <div class="items-start">
                                {% for tag in post['tags'] %}
                                    <button class="btn btn-sm btn-ghost hover:text-primary">
                                        {{ tag }}
                                    </button>
                                {% endfor %}
                            </div>
                            {% if post['content']['body'] %}
                                <button class="btn btn-sm btn-square btn-ghost hover:text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="w-5 h-5 object-contain" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                    </svg>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- Contact Form -->
        <div class="flex-row w-full items-center mx-auto content-end mb-6 mt-10">
            <div class="card lg:w-1/2 mx-auto flex flex-1 border border-base-content bg-base-content bg-opacity-10 lg:bg-opacity-0 hover:bg-opacity-10 opacity-100 lg:opacity-50 hover:opacity-100 transition transition-all ease-in-out duration-1000">
                {% include 'partials/part_contact.html' %}
            </div>
        </div>
    </div>
{% endblock %}